<div id="location">
  <h2><%= @results[:location_str] %></h2>
  <p><span class='time'><%= @timezone.now.strftime('%I:%M %p') %></span> / <span class='weather'>Low: <%= @results[:low] %>&deg;F, High: <%= @results[:high] %>&deg;F</span></p>
</div>


<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="htmapl-standalone.min.js"></script>
<script type="text/javascript">
  $(function() {
      $(".map").htmapl({
          provider: "toner",
          hash: false
      });
  });
</script>

<div class="map"
    data-center="<%= @results[:lat_lng][0] %>,<%= @results[:lat_lng][1] %>"
    data-zoom="3"
    data-mousezoom="3,9,13">
    <div class="marker" data-location="<%= @results[:lat_lng][0] %>,<%= @results[:lat_lng][1] %>"><%= @results[:city] %></div>
</div>